<a href="https://colab.research.google.com/github/Samruddhi20-hue/ML-1/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [13]:
file_path = 'admission (1).csv'
df = pd.read_csv(file_path)

In [14]:
print("Shape of Data:", df.shape)

Shape of Data: (500, 9)

In [15]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [16]:
print("\nData Types:")
print(df.dtypes)

Data Types:
Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [17]:
df_zero_count = (df == 0).sum()
print("\nZero Values Count:")
print(df_zero_count)

Zero Values Count:
Serial No.             0
GRE Score              0
TOEFL Score            0
University Rating      0
SOP                    0
LOR                    0
CGPA                   0
Research             220
Chance of Admit        0
dtype: int64

In [18]:
print("\nFirst 5 rows:")
print(df.head())
print("\nSorted Data by First Column:")
print(df.sort_values(by=df.columns[0], ascending=True).head())

First 5 rows:
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        324          107                  4  4.0   4.5  8.87
2           3        316          104                  3  3.0   3.5  8.00
3           4        322          110                  3  3.5   2.5  8.67
4           5        314          103                  2  2.0   3.0  8.21

   Research  Chance of Admit
0         1              0.92
1         1              0.76
2         1              0.72
3         1              0.80
4         0              0.65

Sorted Data by First Column:
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        324          107                  4  4.0   4.5  8.87
2           3        316          104                  3  3.0   3.5  8.00
3           4        322          110                  3  3.5   2.5  8.67
4           5        314          103                  2  2.0   3.0  8.21

   Research  Chance of Admit
0         1              0.92
1         1              0.76
2         1              0.72
3         1              0.80
4         0              0.65

In [19]:
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
       Serial No.   GRE Score  TOEFL Score  University Rating         SOP  \
count  500.000000  500.000000   500.000000         500.000000  500.000000
mean   250.500000  316.472000   107.192000           3.114000    3.374000
std    144.481833   11.295148     6.081868           1.143512    0.991004
min      1.000000  290.000000    92.000000           1.000000    1.000000
25%    125.750000  308.000000   103.000000           2.000000    2.500000
50%    250.500000  317.000000   107.000000           3.000000    3.500000
75%    375.250000  325.000000   112.000000           4.000000    4.000000
max    500.000000  340.000000   120.000000           5.000000    5.000000

            LOR         CGPA    Research  Chance of Admit
count  500.00000  500.000000  500.000000         500.00000
mean     3.48400    8.576440    0.560000           0.72174
std      0.92545    0.604813    0.496884           0.14114
min      1.00000    6.800000    0.000000           0.34000
25%      3.00000    8.127500    0.000000           0.63000
50%      3.50000    8.560000    1.000000           0.72000
75%      4.00000    9.040000    1.000000           0.82000
max      5.00000    9.920000    1.000000           0.97000

In [20]:
print("\nUnique Values Count:")
print(df.nunique())

Unique Values Count:
Serial No.           500
GRE Score             49
TOEFL Score           29
University Rating      5
SOP                    9
LOR                    9
CGPA                 184
Research               2
Chance of Admit       61
dtype: int64

In [21]:
if df.select_dtypes(include=['int64', 'float64']).shape[1] > 0:
    df[df.select_dtypes(include=['int64', 'float64']).columns] = df.select_dtypes(include=['int64', 'float64']).astype('int32')
    print("\nConverted Numeric Data Types to int32")

Converted Numeric Data Types to int32

In [22]:
print("\nFinal Data Types:")
print(df.dtypes)

Final Data Types:
Serial No.           int32
GRE Score            int32
TOEFL Score          int32
University Rating    int32
SOP                  int32
LOR                  int32
CGPA                 int32
Research             int32
Chance of Admit      int32
dtype: object